<div class="back_button">
  <h3><%= link_to "Back to home page", "/" %></h3>
</div>

<p>
  <br>
  Found a bug? Please report it on
  <a href="https://github.com/PeterOKagey/circle-games/issues">GitHub</a>!
</p>

<div class = "tree">
  <br>
  <pre><%=@random_tree%></pre>
</div>
