<div class = "right_paragraph">
	<ul plain>
		<lh><b> Best Solutions </b></lh>
		<% HighScore.all.order(:id).each do |hs|%>
			<% i = hs.level %>
			<% bound = 0 %>
			<% SquareGame.a123663.each do |k|
				bound += 1
				break if k >= i*(i-1)/2
				end %>
			<% bound -= 1 if i == 0 %>
			<% bound = [bound, i*((i-1)/4.0).ceil].max %>
			<%= content_tag :li, (link_to ("%3.3s" % "#{bound}" + " ≤ " + "f(#{i})" + " ≤ " + "%-3.5s" % "#{hs.best_score}").html_safe, hs) if i > 1%>
		<% end %>
	</ul>
</div>