<title>PK | Square Game</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- <div class = "protector"></div> -->

<!-- <div class = "header">
	<div id = "title"> Website </div>
	<div id = "links"> A :: Few :: Miscellaneous :: Links :: &c. </div>
</div>

<div class = "header2">
	<div id="foo"> Div Header</div>
</div>
 -->
<%= render partial: "square_game_canvas" %><br>
<%= render partial: "high_scores" %>
