<title>PK | Square Game</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<div class="back_button">
  <h3><%= link_to "Back to home page", "/" %></h3>
</div>
<%= render partial: "square_game_canvas" %><br>
<%= render partial: "high_scores" %>
