<div class="back_button">
  <h3><%= link_to "Back to home page", "/" %></h3>
</div>
<div class = "canvas">
  <canvas id="conway" tabindex=1></canvas>
  <%= javascript_include_tag 'conways_game_of_life' %>
<p>
<br>
  Found a bug? Please report it on
  <a href="https://github.com/PeterOKagey/circle-games/issues">GitHub</a>!
</p>
</div>
